
.contact{

    .contact-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-evenly;

        @media  (max-width: 800px){
            flex-direction: column-reverse;

            .email-wrapper{
                width: 100%;
            }
        }

        .email-wrapper{
            width: 50%;

            @media  (max-width: 800px){
                    width: 100%;
            }
        }
    }

    .email{
        margin-top: 30px;
        a{
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    .accounts{
        margin-top: 30px;
        margin-left: 30px;
        width: 50%;

        @media  (max-width: 800px){
            width: 100%;
            margin-left: 0;
        }
        .links{
            a{
                margin-right: 20px;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }

    }
}
.sign-in-form-main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: max-content;

    .contact-form-container{
        margin-top: 10px;
        width: 100%;

        .sign-in-inputs{
            background: $bg-color;
            margin-top: 5px;
            width: inherit;
            border: 1px solid $a-color;
            font-size: 14px;
            padding: 15px;
            outline: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: currentColor;
            border-radius: 5px;
            box-shadow: 5px 5px 0px 0px $b-color;
            transition: box-shadow .15s ease-in-out;
            transition: transform .15s ease-in-out;
            &:focus{
                box-shadow: 0px 0px 0px 0px $b-color;
                transform: translateX(5px) translateY(5px);
            }
    
            &::placeholder {
                font-weight: medium;
            }
            &:placeholder-shown {
                font-weight: medium;
            }
    
            
        }
        .recaptcha{
            width: 100%;
            .rc-anchor-normal .rc-anchor-content{
                width: max-content;
            }
        }
    
        .form-error{
            margin: 5px 0;
            font-weight: normal;
            color: tomato;
            font-size: 12px;
            height: 16px;
            p{
                margin: 0;
                text-transform: none;
            }
        }
    
        .sign-in-form-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 10px;
    
            .sign-in-submit{
                margin-right: auto;
                color: #ffffff;
                border: none;
                outline: none;
                padding: 10px 30px;
                font-family: $default-font;
                font-weight: 400;
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
                background: $a-color;
                box-shadow: 5px 5px 0px 0px $b-color;
                transition: all .15s ease-in-out;
                &:hover{
                    box-shadow: 0px 0px 0px 0px $b-color;
                    transform: translateX(5px) translateY(5px);
                }
            }
        }
    }

    textarea { resize: vertical; }

}


