.header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    z-index: 10;
    .nav{
        padding: 0 5%;
        width: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        .logo{
            margin-right: auto;
            z-index: 2;
            svg{
                width: 50px;
                height: 33px;
                fill: var(--a-color);
            }
        }
        .theme{
            margin-right: 30px;
            font-size: 2rem;
        }

        .burger{
            z-index: 2;
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;
            
            .line{
                position: absolute;
                top: 10px;
                height: 3px;
                width: 30px;
                background: var(--a-color);
                transition: all .25s ease;

                &::before{
                    content: "";
                    position: absolute;
                    top: -10px;
                    height: 3px;
                    width: 30px;
                    background: var(--a-color);
                    transition: all .25s ease;
                }

                &::after{
                    content: "";
                    position: absolute;
                    top: 10px;
                    height: 3px;
                    width: 30px;
                    background: var(--a-color) ;
                    transition: all .25s ease;
                }

                &.open{
                    transform: rotate(180deg);
                    background: transparent;
  
                    
                    &::before{
                        transform: rotate(45deg) translate(8px, 6px);
  
       
                    }
                    &::after{
                        transform: rotate(-45deg) translate(8px, -6px);


                    }
                }
                

            }
        }
            

    } 
}