.notfound-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
    h1{
        font-size: 4rem;
        line-height: 1.2;
    }
}