.projects {
  .other-projects {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    span,
    h3 {
      margin-right: 10px;
    }
  }

  .proj-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .proj {
      margin-top: 10px;
      height: max-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column-reverse;
      width: 100%;
      position: relative;
      z-index: 0;
      padding: 20px;
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
      &:hover {
        background: $bg-color-two;
        .video-container {
          background: #00000000;
          .video {
            mix-blend-mode: normal;
          }
        }
      }
      .details {
        width: 100%;
        .tools {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          p {
            margin-right: 10px;
            font-family: $mono-font;
            font-weight: 100;
            font-size: 0.8rem;
          }
        }
        .subtitles {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-top: 10px;
          .description {
            margin-right: 15px;
            text-transform: none;
            font-weight: normal;
            font-size: 1rem;
            font-weight: 400;
          }
          .link {
            margin-top: 10px;
            padding: 10px;
            height: max-content;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 5px;
            background: $a-color;
            box-shadow: 5px 5px 0px 0px $b-color;
            transition: all 0.15s ease-in-out;
            &:hover {
              color: #ffffff;
              box-shadow: 0px 0px 0px 0px $b-color;
              transform: translateX(5px) translateY(5px);
            }
          }
        }
      }

      .video-container {
        width: 100%;
        margin-bottom: 10px;
        transition: all 0.25s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $b-color;
        border-radius: 5px;
        .video {
          width: 100%;
          mix-blend-mode: multiply;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .projects {
    .proj-wrapper {
      margin: 50px 0;
      grid-template-columns: repeat(1, 1fr);
      .proj {
        .video-container {
          margin-top: 10px;
          filter: opacity(1);
        }
      }
    }
  }
}
