@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark{
    --bg-color:  #14171A;
    --bg-color-two:  #192734;
    --text-color:  #ffffff;
    --a-color: #1DA1F2;
    --b-color: #1DA1F280;
}





body{
    font-family: -apple-system, BlinkMacSystemFont, 'Oswald', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-transform: uppercase;
    background: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    transition: background .25s ease, color .5s ease;

    &.light{
        --bg-color:  #ffffff;
        --bg-color-two:  #f5f8fa;
        --text-color:  #14171A;
        --a-color: #026aab;
        --b-color: #026aab80;
    }
    
    a{
        cursor: pointer;
        text-decoration: none;
        color: currentColor;
        transition: all ease-in-out;
        &:hover{
            color: var(--a-color);
        }
    }

    h1{
        color: var(--a-color);
    }

    footer{
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .main-buttons{
            margin: 20px 0;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: small;
                text-transform: none;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }

    .uppercase-text{
        text-transform: uppercase;
    }

    &::-webkit-scrollbar{
        display: none;
    }
}
