.preloaderContainer{
    height: 100vh;
    width: 100%;
    background: var(--bg-color);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    clip-path: circle(100% at 50% 50%);
    transition: all 250ms ease;

    &.close{
        clip-path: circle(0% at 50% 50%);
    }

    .preloader{
        border: 5px solid var(--a-color);
        border-top: 5px solid transparent;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 500ms linear infinite;
    }
    

    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(360deg);
        }
    }

}

